<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board List</title>
</head>
<body>
<h1>Board List</h1>
<a href="/board/write">게시글 작성</a>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate through each board in the list -->
  <tr th:each="list : ${boardList}">
    <td th:text="${list.id}">ID</td>
    <td><a th:href="@{/board/detail/{id}(id=${list.id})}" th:text="${list.title}">Title</a></td>
    <td th:text="${list.email}">Author</td>
    <td th:text="${list.createDate}">Date</td>
  </tr>
  </tbody>
</table>
</body>
</html>