<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Members</title>
</head>
<body>
<div>
  <div th:if="${member11 == null}"> <!-- 수정: member11이 null인 경우 -->
    <a href="/oauth2/authorization/google" role="button">구글 로그인</a>
  </div>
</div>
<div th:if="${member11 != null}"> <!-- 수정: member11이 null이 아닌 경우 -->
  <h1>회원 정보</h1>
  <img th:src="@{${member11.picture}}"/>
  <p th:text="'Email : '+ ${member11.email}"></p>
  <p th:text="'Name : '+ ${member11.name}"></p>
  <a th:href="@{logout}">로그아웃</a>
</div>
</body>
</html>